server:
  port: ${PORT:8080}

spring:
  application:
    name: order-service
  
  data:
    mongodb:
      uri: ${SPRING_DATA_MONGODB_URI:mongodb://localhost:27017/order-db}
  
  cloud:
    function:
      definition: inventoryEventConsumer
    
    stream:
      bindings:
        orderEvents-out-0:
          destination: order.events
          content-type: application/json
        
        inventoryEventConsumer-in-0:
          destination: order.events
          content-type: application/json
          group: order-service
      
      rabbit:
        bindings:
          orderEvents-out-0:
            producer:
              exchange-type: topic
              routing-key-expression: '''order.created'''
          
          inventoryEventConsumer-in-0:
            consumer:
              auto-bind-dlq: true
              republish-to-dlq: true
      
      binders:
        rabbit:
          type: rabbit
          environment:
            spring:
              rabbitmq:
                host: ${SPRING_RABBITMQ_HOST:localhost}
                port: ${SPRING_RABBITMQ_PORT:5672}
                username: ${SPRING_RABBITMQ_USERNAME:guest}
                password: ${SPRING_RABBITMQ_PASSWORD:guest}
                virtual-host: ${SPRING_RABBITMQ_VIRTUAL_HOST:/}

logging:
  level:
    root: INFO
    com.eventdriven.oms: DEBUG
    org.springframework.cloud.stream: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

